.footer {
  bottom: 0;
  height: 25px;
  position: fixed;
}

.header {
  height: 100px;
}

.footer,
.header {
  width: 100%;
  background-color: #0d6efd;
  text-align: center;
  padding: 5px;
  color: #ffffff;
}

body {
  margin: auto;
  font-family: sans-serif;
  color: black;
  background-color: #f8f9fa;
}

.info {
  padding: 25px;
  text-align: center;
}

.row-product-images {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.row-product-images img {
  height: 350px; /* Set a uniform height */
  width: 100%; /* Ensures uniform width */
  object-fit: fill; /* Ensures the image maintains its aspect ratio */
}
.row-product-images div {
  flex: 1; /* Makes each image container take up equal space */
}
